.navbar {
  width: 100%;
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
}

.container {
  display: flex;
  border-bottom: solid 1px black;
}

.navbar-brand {
  width: 200px;
  position: relative;
}

.brand-text {
  position: absolute;
  bottom: 12px;
}

.nav-link {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
}

ul {
  list-style-type: none;
}